body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 40%;
    padding: 20px;
    background-color: #1e1e1e;
    overflow-y: auto;
    box-sizing: border-box;
}

.content {
    width: 60%;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    background-color: #3e3e3e;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    background-color: #3e3e3e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #39ff14;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #33cc11;
}

.output {
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 5px;
    max-height: calc(100vh - 60px); /* Adjust this value as needed */
    overflow-y: auto;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.loading-spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar, .content {
        width: 100%;
        height: 50vh;
    }
}
